*,
*::before,
*::after { box-sizing: border-box; }

html, body { height: 100%; }

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    color: #0a0a0a;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    margin: 1.5rem;
    line-height: 1.5;
}

#main {
    max-width: 60rem;
    width: 100%;
    margin: 0 2rem;
}

#hero h1 {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

/* Tasks */

.tasks, .nav-link {
    margin-bottom: 1.5rem;
    padding-left: 1.25rem;
    text-decoration: none;
    list-style: none;
}